<!DOCTYPE html>
<html ng-app='app'>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<link rel='stylesheet' href='../CSS/ionic.min.css' />
		<script src="../JS/ionic.bundle.min.js"></script>
		<title></title>
		<style>
			div.col {
				text-align: center;
				height:50px;
				padding:2px;
				line-height: 25px;
				margin:1px;
			}
			div.week {
				background-color: #E4EFF5;
				height:35px;
				color:#839EAA;
			}
			div.current-month{
				background-color: #FFFFFF;
				color:#838383;
			}
			div.current-month:hover{
				background-color:#01C3FF;
				color:#FFFFFF;
			}
			div.not-current-month{
				background-color: #E4EFF5;
				color:#B8C1C6;
			}
		</style>
	</head>

	<body ng-controller='app'>
		<ion-header-bar class='bar-calm' style='background-color: #009BE8;background-image:url(../Images/d2_1.png);background-size:cover;'>
			<button class='button button-icon icon ion-ios-arrow-left' onclick="location='healthcenter.html'">返回</button>
			<h1 class='title'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;晨检记录</h1>
		</ion-header-bar>
		<ion-content style='background-color: #E2EEF6;padding-bottom: 15px;'>
			<ion-list>
				<ion-item style='text-align: center;'>
					<span class='icon ion-ios-arrow-left' style='cursor:pointer;'></span>
					<span style='margin:0 15px;'>2016年4月20日 周三</span>
					<span class='icon ion-ios-arrow-right' style='cursor:pointer;'></span>
				</ion-item>
				<ion-item style='background-color:#E4EFF5;padding-bottom: 0;padding-top:0;'>
					<div class='row'>
						<div class='col week'>日</div>
						<div class='col week'>一</div>
						<div class='col week'>二</div>
						<div class='col week'>三</div>
						<div class='col week'>四</div>
						<div class='col week'>五</div>
						<div class='col week'>六</div>
					</div>
					<div class='row'>
						<div class='col not-current-month'>31</div>
						<div class='col current-month' ng-click='detail()'>1</div>
						<div class='col current-month' ng-click='detail()'>2</div>
						<div class='col current-month' ng-click='detail()'>3</div>
						<div class='col current-month' ng-click='detail()'>4</div>
						<div class='col current-month' ng-click='detail()'>5</div>
						<div class='col current-month' ng-click='detail()'>6</div>
					</div>
					<div class='row'>
						<div class='col current-month' ng-click='detail()'>7</div>
						<div class='col current-month' ng-click='detail()'>8</div>
						<div class='col current-month' ng-click='detail()'>9</div>
						<div class='col current-month' ng-click='detail()'>10</div>
						<div class='col current-month' ng-click='detail()'>11</div>
						<div class='col current-month' ng-click='detail()'>12</div>
						<div class='col current-month' ng-click='detail()'>13</div>
					</div>
					<div class='row'>
						<div class='col current-month' ng-click='detail()'>14</div>
						<div class='col current-month' ng-click='detail()'>15</div>
						<div class='col current-month' ng-click='detail()'>16</div>
						<div class='col current-month' ng-click='detail()'>17<br/><img src="../Images/勾选@2x.png" style='width:20px;height:20px;'/></div>
						<div class='col current-month' ng-click='detail()'>18<br/><img src="../Images/勾选@2x.png" style='width:20px;height:20px;'/></div>
						<div class='col current-month' ng-click='detail()'>19<br/><img src="../Images/勾选@2x.png" style='width:20px;height:20px;'/></div>
						<div class='col current-month' ng-click='detail()'>20</div>
					</div>
					<div class='row'>
						<div class='col current-month' ng-click='detail()'>21</div>
						<div class='col current-month' ng-click='detail()'>22</div>
						<div class='col current-month' ng-click='detail()'>23</div>
						<div class='col current-month' ng-click='detail()'>24</div>
						<div class='col current-month' ng-click='detail()'>25</div>
						<div class='col current-month' ng-click='detail()'>26</div>
						<div class='col current-month' ng-click='detail()'>27</div>
					</div>
					<div class='row'>
						<div class='col current-month' ng-click='detail()'>28</div>
						<div class='col current-month' ng-click='detail()'>29</div>
						<div class='col current-month' ng-click='detail()'>30</div>
						<div class='col not-current-month'>1</div>
						<div class='col not-current-month'>2</div>
						<div class='col not-current-month'>3</div>
						<div class='col not-current-month'>3</div>
					</div>
					<div class='row'>
						<div class='col' style='background-color: #E4EFF5;height:25px;'></div>
					</div>
				</ion-item>
				<ion-item>
					<span style='width:33%;display: inline-block;text-align: center;color:#44D194;'>日期</span><span style='width:33%;display: inline-block;text-align: center;color:#D67372;'>体温</span><span style='width:33%;display: inline-block;text-align: center;color:#5CD9F2;'>晨检</span>
				</ion-item>
				<ion-item>
					<span style='width:33%;display:inline-block;text-align: center;'>20<br/>周三</span><span style='width:33%;display: inline-block;text-align: center;'>—</span><span style='width:33%;display: inline-block;text-align: center;'>—</span>
				</ion-item>
			</ion-list>
		</ion-content>
		<script>
			angular.module('app', ['ionic']).controller('app', function($scope, $timeout, $ionicLoading,$window) {
				loading();
                $scope.detail = function(){
                	$window.location = 'morningcheckdetail.html';
                }
				function loading() {
					$ionicLoading.show({
						content: 'Loading',
						animation: 'fade-in',
						showBackdrop: true,
						maxWidth: 200,
						showDelay: 0
					});
					$timeout(function() {
						$ionicLoading.hide();
					}, 1000);
				}

			});
		</script>
	</body>

</html>